In [3]:
#TASK
users = [[1,'Qasim','1545454523!!'],
        [2,'Ali','1454545453!!'],
       [3,'Ahmed','14578787873!!'],
       [4,'Aslam,','1979797987878!!']]

name = input("Enter your name: ")
password = input("Enter your password: ")

for user in users:
    if(user[1] == name and user[2] == password):
        print("valid user!")
        break
else:
    print("invalid user!")

Enter your name: Ali
Enter your password: 1454545453!!
valid user!

In [6]:
 d1 = {
     "name" : "zaid",
     "Age" : 20,
     "course" : "AI"
 }
print(d1)

{'name': 'zaid', 'Age': 20, 'course': 'AI'}

In [9]:
d1 = {}
d1["name"] = "zaid"
d1["age"] = 20
d1["course"] = "AI"
print(d1)

{'name': 'zaid', 'age': 20, 'course': 'AI'}

In [11]:
print(d1)
d1.clear() # In memory operation
print(d1)

{'name': 'zaid', 'age': 20, 'course': 'AI'}
{}

In [13]:
d1 = {'id': 200, 'name': 'Qasim', 'course': 'A.I'}
print(d1)
del d1
print(d1)

{'id': 200, 'name': 'Qasim', 'course': 'A.I'}

NameError: name 'd1' is not defined

In [21]:
d1 = {"name":"zaid", "age":20, "course":"AI"}
print("dictionary: ",d1)
print("dictionary: ",id(d1))
d2 = d1.copy() #deep copy
print("dictionary: ",d2)
print("dictionary: ",id(d2))
d1["age"] = 24
print(d1)
print(d2)

dictionary:  {'name': 'zaid', 'age': 20, 'course': 'AI'}
dictionary:  140337990301888
dictionary:  {'name': 'zaid', 'age': 20, 'course': 'AI'}
dictionary:  140337990244288
{'name': 'zaid', 'age': 24, 'course': 'AI'}
{'name': 'zaid', 'age': 20, 'course': 'AI'}

In [30]:
l1 = ['name', 'age', 'course']
d3 = dict.fromkeys(l1)
print(d3)

{'name': None, 'age': None, 'course': None}

In [35]:
fields = input("enter fields :").split(",")#list
d1 = dict.fromkeys(fields)
print(d1)

enter fields :name,age,id,course
{'name': None, 'age': None, 'id': None, 'course': None}

In [38]:
fields = ('name','age','id','course')#tuple
d1 = dict.fromkeys(fields)
print(d1)

{'name': None, 'age': None, 'id': None, 'course': None}

In [40]:
x = ["a", "b", "c"]
y = ["H", "I", "J"]

databse = zip(x,y)
print(databse)
d1 = dict(databse)
print(d1)

<zip object at 0x7fa2f460c700>
{'a': 'H', 'b': 'I', 'c': 'J'}

In [59]:
x = ("a", "b", "c")
y = ("H", "I", "J")

databse = zip(x,y)
print(list(databse))

[('a', 'H'), ('b', 'I'), ('c', 'J')]

In [54]:
dict(databse)

{'a': 'H', 'b': 'I', 'c': 'J'}

In [55]:
keys = input("Enter keys: ").split(",")
values = input("Enter values: ").split(",")

d1 = zip(keys,values)
d = dict(d1)
print(d)

Enter keys: name,age,id,course
Enter values: zaid,20,45342,AI
{'name': 'zaid', 'age': '20', 'id': '45342', 'course': 'AI'}

In [61]:
d2 = {}

key = input("Enter keys: ").split(',')
values = input("enter values: ").split(',')

ind = 0

for element in key:
    d2[element] = values[ind]
    ind += 1
    
print(d2)

Enter keys: name,age,course
enter values: zaid,20,ai
{'name': 'zaid', 'age': '20', 'course': 'ai'}

In [63]:
d2 = {}

key = input("Enter keys: ").split(',')
values = input("enter values: ").split(',')

d1 = dict.fromkeys(key)

ind = 0

for element in d1:
    d2[element] = values[ind]
    ind += 1
    
print(d2)

Enter keys: name,age,id
enter values: zaid,20,3482
{'name': 'zaid', 'age': '20', 'id': '3482'}

In [66]:
d1 = {
    'name': input("Enter name: "),
    'age': input("age: "),
    'skills': input("skills: ").split(",")
}
print(d1)

Enter name: zaid raza
age: 22
skills: pyton,react,c,c++,javscript
{'name': 'zaid raza', 'age': '22', 'skills': ['pyton', 'react', 'c', 'c++', 'javscript']}

In [75]:
d1 = {'name': 'zaid raza', 'age': '22', 'skills': ['python', 'react', 'c', 'c++', 'javscript']}

d1['name']

'zaid raza'

In [76]:
d1 = {'name': 'zaid raza', 'age': '22', 'skills': ['python', 'react', 'c', 'c++', 'javscript']}
d1.get('name')

'zaid raza'

In [77]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
print(d1.get('CNIC',"Not available"))
print(d1)

455930283
{'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}

In [78]:
d1 ={'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}
print(d1.get('CNIC',"Not available"))
print(d1)

Not available
{'id': '200', 'name': 'Ali', 'skills': ['a', 'b', 'c', 'd']}

In [80]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(dct.items())
print(dct.keys())
print(dct.values())

dict_items([('id', '200'), ('name', 'Ali'), ('CNIC', '455930283'), ('skills', ['a', 'b', 'c', 'd'])])
dict_keys(['id', 'name', 'CNIC', 'skills'])
dict_values(['200', 'Ali', '455930283', ['a', 'b', 'c', 'd']])

In [83]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(list(dct.items()))
print(list(dct.keys()))
print(list(dct.values()))

[('id', '200'), ('name', 'Ali'), ('CNIC', '455930283'), ('skills', ['a', 'b', 'c', 'd'])]
['id', 'name', 'CNIC', 'skills']
['200', 'Ali', '455930283', ['a', 'b', 'c', 'd']]

In [3]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(dct.pop('id'))
print(dct)

200
{'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}

In [4]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(dct.popitem('id'))
print(dct)

TypeError: popitem() takes no arguments (1 given)

In [5]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(dct.popitem())
print(dct)

('skills', ['a', 'b', 'c', 'd'])
{'id': '200', 'name': 'Ali', 'CNIC': '455930283'}

In [6]:
dct = {'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
print(dct)
print(dct.setdefault('id','10'))
print(dct.setdefault('class','2017'))
print(dct)

{'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd']}
200
2017
{'id': '200', 'name': 'Ali', 'CNIC': '455930283', 'skills': ['a', 'b', 'c', 'd'], 'class': '2017'}

In [7]:
d1 = {'a':'1' , 'b':'2' , 'c':'100'}
d2 = {'x':'3232' , 'b':'200' , 'a':'1025'}

d1.update(d2)
print(d1)
print(d2)

{'a': '1025', 'b': '200', 'c': '100', 'x': '3232'}
{'x': '3232', 'b': '200', 'a': '1025'}

In [12]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
print(sorted(d1.keys()))

['a', 'b', 'c', 'd']

In [15]:
d1 = {
    'a':200,
    'c':300,
    'b':600,
    'd':400
}
d2={}
for i in sorted(d1.keys()):
    d2[i] = d1[i]
print(d2)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [16]:
moon = {}
scores = {'a': 200, 'b': 600, 'c': 300, 'd': 400}

for key,value in sorted(scores.items(),key = lambda kv:kv[1]):
    moon[key] = value
print(moon)

{'a': 200, 'c': 300, 'd': 400, 'b': 600}

In [18]:
moon = {}
scores = {'a': 200, 'b': 600, 'c': 300, 'd': 400}

for key,value in sorted(scores.items() , key = lambda kv:kv[0]):
    moon[key] = value
print(moon)

{'a': 200, 'b': 600, 'c': 300, 'd': 400}

In [19]:
moon = {}
scores = {'a': 200, 'b': 600, 'c': 300, 'd': 400}

for key,value in sorted(scores.items() , key = lambda kv:kv[0] , reverse = True):
    moon[key] = value
print(moon)

{'d': 400, 'c': 300, 'b': 600, 'a': 200}

In [25]:
l1 = []
run = True
while run:
    choice = input("If you want to stop press 'N' or 'n'")
    if choice == "N" or choice =='n' :
        run = False
    else :
        d1 = {
            'id': input("ID: "),
            'name': input("NAME: ")
        }
        l1.append(d1)
print(l1, sep='\n')

If you want to stop press 'N' or 'n'y
ID: 213
NAME: zaid
If you want to stop press 'N' or 'n'y
ID: 35
NAME: raza
If you want to stop press 'N' or 'n'n
[{'id': '213', 'name': 'zaid'}, {'id': '35', 'name': 'raza'}]