In [1]:
mesage = "Hello Python Crash Course reader!"

In [2]:
type(mesage)

str

In [3]:
help(mesage.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [4]:
?mesage.count

In [5]:
??mesage.count

In [6]:
?mesage.count?

In [ ]:
?mesage.count

In [7]:
?mesage.count

In [8]:
mesage.count?

In [9]:
mesage.count??

In [10]:
print(mesage)

Hello Python Crash Course reader!

### Combining or Concatenating Strings

In [11]:
first_name = "Isfhan"

In [12]:
last_name = "Ahmed"

In [13]:
full_name = first_name + " " + last_name
print(full_name)
full_name

Isfhan Ahmed

'Isfhan Ahmed'

In [14]:
# + - / * % > < != == === is opreator 
'a'+'c'

'ac'

In [15]:
name = 'isfhan'
print(name)
name

isfhan

'isfhan'

In [16]:
name = "isfhan"
print(name)
name

isfhan

'isfhan'

In [17]:
name = '''isfhan'''
print(name)
name

isfhan

'isfhan'

In [18]:
detail = """
name :- Isfhan ahmed
fatherName :- Dildar ahmed
"""
print(detail)
detail

name :- Isfhan ahmed
fatherName :- Dildar ahmed

'\nname :- Isfhan ahmed\nfatherName :- Dildar ahmed\n'

In [19]:
detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
name :- Isfhan ahmed
fatherName :- Dildar ahmed
rollNumber : 12546 batch : 2

In [20]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = """
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name}
FatherName : {father_name}
RollNumber : {roll_number} batch : 2

In [21]:
name = 'JohnDoe' 
father_name = 'johnCena'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : johnCena
RollNumber : 45678 batch : 2

In [22]:
name = 'JohnDoe' 
father_name = 'Obama'
roll_number = 45678

detail = f"""
Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : {name} 
FatherName : {father_name}
RollNumber : {roll_number} batch : 2
"""
print(detail)

Saylani mass IT traing program
Course : Saylani Ai batch-2
Name : JohnDoe
FatherName : Obama
RollNumber : 45678 batch : 2

In [23]:
name

'JohnDoe'

In [24]:
name = name.upper()

In [25]:
name

'JOHNDOE'

In [26]:
!ls -la

total 64
drwxrwxr-x  3 zaid zaid  4096 Feb  4 12:38  .
drwxr-xr-x 13 zaid zaid  4096 Mar 27 16:00  ..
-rw-rw-r--  1 zaid zaid 22433 Feb  4 12:38 'Class3(Operators).ipynb'
-rw-rw-r--  1 zaid zaid 17588 Feb  3 12:49  index.ipynb
-rw-rw-r--  1 zaid zaid  3022 Feb  1 23:10  index.py
drwxr-xr-x  2 zaid zaid  4096 Feb  3 12:49  .ipynb_checkpoints
-rw-rw-r--  1 zaid zaid    67 Feb  1 23:10  README.md

In [27]:
!pwd

/home/zaid/Desktop/Artificial-Intelligence-and-Data-Science/CLASS WORK/python-class-3-and-4

In [28]:
game = "Gta     "

In [29]:
print(game)

Gta

In [30]:
game.rstrip()

'Gta'

In [31]:
movie = "bac k to future "

In [32]:
number_with_power = 3 ** 3

In [33]:
number_with_power

27

In [34]:
(2 + 3) ** 4

625

In [35]:
float_number = 4.56

In [36]:
type(float_number)

float

In [37]:
float_number_one = 4.36

In [38]:
float_number_two = 8.36

In [40]:
answer = float_number_one  + float_number_two

In [41]:
answer

12.719999999999999

### Arithmetic operators

##### + , - ,  / ,  * ,  %  ,  // , ** is opreator

In [42]:
2+5

7

In [43]:
'1'+'1'

'11'

In [44]:
55 + 96.6

151.6

In [45]:
'1'+1

TypeError: can only concatenate str (not "int") to str

In [46]:
int('1')+1

2

In [47]:
'string '*5

'string string string string string '

In [50]:
22/7

3.142857142857143

In [52]:
22/"a"

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [53]:
a=2

In [54]:
b=2

In [55]:
id(a)

94555156417888

In [56]:
id(b)

94555156417888

In [57]:
a is b

True