In [2]:
game = "gta"
game.upper()

'GTA'

In [3]:
!ls -la

total 16
drwxr-xr-x 3 zaid zaid 4096 Feb  3 15:21  .
drwxr-xr-x 4 zaid zaid 4096 Feb  3 11:34  ..
-rw-r--r-- 1 zaid zaid  882 Feb  3 15:21 'class 3 & 4.ipynb'
drwxr-xr-x 2 zaid zaid 4096 Feb  3 15:19  .ipynb_checkpoints

In [4]:
!pwd

/home/zaid/Desktop/AI&DS/PRACTISE/class 3 and 4

In [5]:
(2 + 3) ** 3

125

In [6]:
22/7

3.142857142857143

In [8]:
'string' * 3

'stringstringstring'

In [9]:
a=2

In [10]:
a=3

In [13]:
id(a)

93996999044480

In [17]:
b=2

In [18]:
id(b)

93996999044448

In [19]:
a is b

False

In [20]:
a=c

NameError: name 'c' is not defined

In [21]:
c=1

In [22]:
a=c

In [23]:
a is c

True

In [24]:
list1 = ["abc", 34, True, 40, "male"]

In [25]:
print(list1)

['abc', 34, True, 40, 'male']

In [28]:
list1[2]

True

In [29]:
type(list1)

list

In [35]:
thistuple = ("apple","banana")

In [36]:
type(thistuple)

tuple

In [37]:
thisset = {"apple", "banana", "cherry", "apple"}

In [38]:
print(thisset)

{'banana', 'apple', 'cherry'}

In [39]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [40]:
(4,5)-(2,3)

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [1]:
"aA" == "Aa"

False

In [5]:
name = chr(49)

In [6]:
type(name)

str

In [7]:
10/5

2.0

In [9]:
11//4

2

In [1]:
2.0 + 7

9.0

In [2]:
2.0 + 5.0

7.0

In [3]:
["zaid" , "arqum"] + ["uzair" , "zofeen"]

['zaid', 'arqum', 'uzair', 'zofeen']

In [4]:
("zaid" , "arqum") + ("uzair" , "zofeen")

('zaid', 'arqum', 'uzair', 'zofeen')

In [5]:
{"zaid" , "arqum"} + {"uzair" , "zofeen"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [6]:
{1:"A" , 2:"B"} + {3:"C" , 4:"D"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
{"8","4"} + {"8","4"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
5-2

3

In [9]:
5.0-2

3.0

In [12]:
{1,2,3,4,5,6} - {3,5}

{1, 2, 4, 6}

In [15]:
[2,4,6]-[6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [16]:
2*4

8

In [17]:
2.0*4

8.0

In [21]:
"AB" *4

'ABABABAB'

In [24]:
["Zaid" , "ahmed"] *4

['Zaid', 'ahmed', 'Zaid', 'ahmed', 'Zaid', 'ahmed', 'Zaid', 'ahmed']

In [26]:
("Aa",) *3

('Aa', 'Aa', 'Aa')

In [33]:
print( type({"Aa"}) )

<class 'set'>

In [34]:
12/4

3.0

In [35]:
11/3

3.6666666666666665

In [36]:
11//3

3

In [37]:
11%3

2

In [42]:
"A" ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [43]:
2==2

True

In [44]:
2===2

SyntaxError: invalid syntax (<ipython-input-44-6eb0544415c0>, line 1)

In [45]:
2==2.0

True

In [46]:
"A" == "a"

False

In [47]:
"A" > "B"

False

In [48]:
"B" > "A"

True

In [49]:
"B " > 8

TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
"B" > "6"

True

In [51]:
ord("x")

120

In [52]:
chr(65)

'A'

In [57]:
"Zaid" == "zaid"

False

In [59]:
a = 5
print(id(a))
a = 6
print(id(a))
a = 7
print(id(a))
print(a)

94518480907712
94518480907744
94518480907776
7

In [61]:
a,a,a = 3,5,1
a

1

In [63]:
a = 1
a += 2
a += 4
print(a)

7

In [64]:
a = 1
a *= 2
a *= 4
print(a)

8

In [66]:
a = 1
a++
a

SyntaxError: invalid syntax (<ipython-input-66-ced3118feedb>, line 2)

In [68]:
a = 100
a //= 3
a //= 2
a

16

In [69]:
10 << 2

40

In [70]:
10 >> 2

2

In [2]:
if True:
    print("Pakistan")
else:
    print("Zindabad")

Pakistan

In [4]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else: 
    print("Zindabad")

Zindabad

In [7]:
name = input("Name:")
password = input("Password:")

if (name == "zaid" or name == "hamza") and password == "123":
    print("valid user")
else:
    print("not valid user")

Name:zaid
Password:123
valid user

In [10]:
name = input("Name:")
password = input("Password:")

if (name in ["ali" , "hamza" , "zaid"]) and password == "123":
    print("valid user")
else:
    print("invalid user")

Name:zaid
Password:123
valid user